# Dependências
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/

# Arquivos de ambiente
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

